//
// Placeholder media queries for responsive design. Modify as design requires.
// These follow after, and will override, the primary ('mobile first') styles
// The closing /mediaquery comment is required by respond.js min/max-width Media Query polyfill
//

@media only screen and (min-width: 480px) {
  // Style adjustments for viewports 480px and over go here

	body, #header {
		width: 480px;
	}
	
	#listen_box { padding-right: 16px; }
  
}/*/mediaquery*/

@media only screen and (min-width: 768px) {
  // Style adjustments for viewports 768px and over go here

	body, #header {
		width: 768px;
	}
	
	#container { margin-top: 34px; }
	#topNav { margin-top: 42px; }
	
	nav { margin-left: 7em; clear: none; }
	
	#listen_box { padding-right: 22px; }
	
	
	
  
}/*/mediaquery*/

@media only screen and (min-width: 960px) {
  // Style adjustments for viewports 960px and over go here

	body, #header {
		width: 960px;
	}
	
	nav { margin-left: 11em; }
	
	#listen_box { padding-right: 26px; }
	
  
}/*/mediaquery*/


// Print styles
// Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
@media print {
  @include media-print;
}