/* line 14, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_reset.scss */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 23, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 27, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 30, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_reset.scss */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* line 34, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_reset.scss */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* line 36, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_reset.scss */
del {
  text-decoration: line-through;
}

/* line 38, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_reset.scss */
abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

/* line 40, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 42, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_reset.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 11, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_fonts.scss */
body {
  font-size: 13px;
  font-family: sans-serif;
  line-height: 1.231;
  *font-size: small;
}

/* line 20, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_fonts.scss */
pre, code, kbd, samp {
  font-family: monospace, sans-serif;
}

/* line 15, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
html {
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 17, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
ul, ol {
  margin-left: 2em;
}

/* line 18, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
ol {
  list-style-type: decimal;
}

/* line 20, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
td {
  vertical-align: top;
}

/* line 22, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  bottom: -0.25em;
}

/* line 24, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  top: -0.5em;
}

/* line 53, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
a:hover, a:active {
  outline: none;
}

/* line 58, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  padding: 15px;
}

/* line 71, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
label, input[type="button"], input[type="submit"], input[type="image"], button {
  cursor: pointer;
}

/* line 80, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
button, input, select, textarea {
  width: auto;
  overflow: visible;
  margin: 0;
  font-size: 100%;
  font-family: sans-serif;
  vertical-align: baseline;
}

/* line 84, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
textarea {
  overflow: auto;
  vertical-align: text-top;
}

/* line 88, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 99, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
::-moz-selection {
  background: #ff5e99;
  color: white;
  text-shadow: none;
}

/* line 100, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
::selection {
  background: #ff5e99;
  color: white;
  text-shadow: none;
}

/* line 105, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
a:link {
  -webkit-tap-highlight-color: #ff5e99;
}

/* line 118, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
.ie7 img {
  -ms-interpolation-mode: bicubic;
}

/* line 120, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
.ie6 legend, .ie7 legend {
  margin-left: -7px;
}

/* line 125, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
nav ul, nav li {
  margin: 0;
  list-style: none;
  list-style-image: none;
}

/* line 10, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_helpers.scss */
.ir {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  direction: ltr;
  background-repeat: no-repeat;
}

/* line 12, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_helpers.scss */
.hidden {
  display: none;
  visibility: hidden;
}

/* line 14, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_helpers.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/* line 50, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_helpers.scss */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* line 16, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_helpers.scss */
.clearfix {
  zoom: 1;
}
/* line 61, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_helpers.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
/* line 62, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_helpers.scss */
.clearfix:after {
  clear: both;
}

/* line 8, ../../app/stylesheets/partials/_page.scss */
body, select, input, textarea {
  color: #444444;
}

/* line 15, ../../app/stylesheets/partials/_page.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

/* line 21, ../../app/stylesheets/partials/_page.scss */
a, a:active, a:visited {
  color: #777777;
}

/* line 22, ../../app/stylesheets/partials/_page.scss */
a:hover {
  color: #003366;
}

/* line 24, ../../app/stylesheets/partials/_page.scss */
strong, th {
  font-weight: bold;
}

/* line 28, ../../app/stylesheets/partials/_page.scss */
small {
  font-size: 85%;
}

/* line 37, ../../app/stylesheets/partials/_page.scss */
input:invalid, textarea:invalid {
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  -o-border-radius: 1px;
  -ms-border-radius: 1px;
  -khtml-border-radius: 1px;
  border-radius: 1px;
  -moz-box-shadow: 0 0 5px 0 red;
  -webkit-box-shadow: 0 0 5px 0 red;
  -o-box-shadow: 0 0 5px 0 red;
  box-shadow: 0 0 5px 0 red;
}

/* line 42, ../../app/stylesheets/partials/_page.scss */
.no-boxshadow input:invalid,
.no-boxshadow textarea:invalid {
  background-color: #f0dddd;
}

/* line 165, ../../app/stylesheets/partials/_page.scss */
body {
  background-color: white;
  -webkit-text-size-adjust: 100%;
}

/* line 167, ../../app/stylesheets/partials/_page.scss */
body {
  width: 320px;
  margin: auto;
}

/* line 173, ../../app/stylesheets/partials/_page.scss */
#container {
  margin: auto;
  margin-top: 66px;
  width: 96%;
}

/* line 179, ../../app/stylesheets/partials/_page.scss */
.readjust {
  margin-top: -126px;
}

/* line 181, ../../app/stylesheets/partials/_page.scss */
.empty {
  display: block;
}

/* line 183, ../../app/stylesheets/partials/_page.scss */
#logo {
  float: left;
}
/* line 184, ../../app/stylesheets/partials/_page.scss */
#logo a {
  color: #333;
  text-decoration: none;
}
/* line 188, ../../app/stylesheets/partials/_page.scss */
#logo a:hover {
  color: #DD4B39;
}

/* line 193, ../../app/stylesheets/partials/_page.scss */
#listen_box {
  margin-top: .25em;
  display: block;
  width: 90px;
  float: right;
  padding-right: 14px;
}

/* line 201, ../../app/stylesheets/partials/_page.scss */
header {
  margin-top: 0;
  background-color: #fff;
  padding: .5em;
  width: 320px;
}
/* line 202, ../../app/stylesheets/partials/_page.scss */
header h1 {
  font-size: 220%;
}

/* line 215, ../../app/stylesheets/partials/_page.scss */
#topNav {
  margin-top: 76px;
  background-color: #fff;
  padding-bottom: 1em;
  padding-top: 1.5em;
  z-index: 998;
}

/* line 222, ../../app/stylesheets/partials/_page.scss */
.floating {
  position: fixed;
  top: 0;
  float: left;
  clear: both;
  z-index: 999;
  -moz-box-shadow: 0 8px 8px -8px #ebebeb;
  -webkit-box-shadow: 0 8px 8px -8px #ebebeb;
  -o-box-shadow: 0 8px 8px -8px #ebebeb;
  box-shadow: 0 8px 8px -8px #ebebeb;
  border-bottom: 1px solid #EBEBEB;
}

/* line 233, ../../app/stylesheets/partials/_page.scss */
#import {
  margin-top: 5em;
}

/* line 237, ../../app/stylesheets/partials/_page.scss */
nav {
  font-size: 160%;
  margin-top: .25em;
  float: left;
  position: relative;
  padding-bottom: .1em;
  clear: both;
}

/* line 248, ../../app/stylesheets/partials/_page.scss */
#nav {
  position: relative;
  float: left;
}
/* line 253, ../../app/stylesheets/partials/_page.scss */
#nav a {
  color: #777;
  text-decoration: none;
}
/* line 256, ../../app/stylesheets/partials/_page.scss */
#nav a:hover {
  color: #DD4B39;
}
/* line 258, ../../app/stylesheets/partials/_page.scss */
#nav .selected {
  color: #F90;
  font-weight: bold;
}

/* line 267, ../../app/stylesheets/partials/_page.scss */
#main {
  margin-bottom: 1em;
  margin-left: .1em;
  overflow: auto;
  padding-top: 1em;
}

/* line 274, ../../app/stylesheets/partials/_page.scss */
.account_name, .check_name, .check_name_quiet {
  font-size: 140%;
  color: #555;
}

/* line 279, ../../app/stylesheets/partials/_page.scss */
.check_name_quiet {
  color: #999;
}

/* line 281, ../../app/stylesheets/partials/_page.scss */
.account_information, .contact_information {
  margin-bottom: 1.5em;
  position: relative;
}

/* line 287, ../../app/stylesheets/partials/_page.scss */
#sign_out {
  float: right;
}
/* line 292, ../../app/stylesheets/partials/_page.scss */
#sign_out a.sign_out {
  color: #999;
}
/* line 294, ../../app/stylesheets/partials/_page.scss */
#sign_out a.sign_out:hover {
  color: #444;
}

/* line 298, ../../app/stylesheets/partials/_page.scss */
#sign_in {
  padding-left: .1em;
}

/* line 302, ../../app/stylesheets/partials/_page.scss */
.check {
  width: 300px;
  display: inline-block;
  position: relative;
}

/* line 308, ../../app/stylesheets/partials/_page.scss */
.check_name {
  display: inline-block;
}

/* line 312, ../../app/stylesheets/partials/_page.scss */
.logo_box {
  margin-top: .5em;
  margin-left: .2em;
}

/* line 317, ../../app/stylesheets/partials/_page.scss */
.right_box {
  position: absolute;
  top: -2px;
  right: 0px;
  display: inline-block;
}

/* line 324, ../../app/stylesheets/partials/_page.scss */
hr {
  color: #EBEBEB;
}

/* line 326, ../../app/stylesheets/partials/_page.scss */
.account, .contact {
  min-height: 30px;
  border-bottom: 1px solid #EBEBEB;
  padding-top: 3em;
  position: relative;
}

/* line 333, ../../app/stylesheets/partials/_page.scss */
.accounts, .contacts {
  border-top: 1px solid #EBEBEB;
  margin-bottom: 1.25em;
}

/* line 341, ../../app/stylesheets/partials/_page.scss */
.success, .error, .notice, #error_explanation {
  display: block;
  padding-left: .5em;
  padding-right: 0;
  padding-top: .5em;
  padding-bottom: .5em;
  color: #666;
  clear: both;
  margin-bottom: 1em;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
}
/* line 351, ../../app/stylesheets/partials/_page.scss */
.success a, .error a, .notice a, #error_explanation a {
  color: #000;
}
/* line 351, ../../app/stylesheets/partials/_page.scss */
.success a:hover, .error a:hover, .notice a:hover, #error_explanation a:hover {
  color: #00c;
}

/* line 354, ../../app/stylesheets/partials/_page.scss */
.success {
  border: 1px solid #0a0;
  background-color: #cfc;
}

/* line 355, ../../app/stylesheets/partials/_page.scss */
.notice {
  border: 1px solid #FFD324;
  background-color: #ffc;
}

/* line 356, ../../app/stylesheets/partials/_page.scss */
.error, #error_explanation {
  border: 1px solid #a00;
  background-color: #fcc;
}

/* line 358, ../../app/stylesheets/partials/_page.scss */
footer {
  margin-left: .25em;
  position: relative;
}

/* line 363, ../../app/stylesheets/partials/_page.scss */
#input_form {
  float: none;
  display: block;
  position: relative;
}

/* line 369, ../../app/stylesheets/partials/_page.scss */
#account_nav {
  display: block;
  overflow: auto;
}

/* line 371, ../../app/stylesheets/partials/_page.scss */
#input_field {
  width: 66%;
  height: 22px;
  -moz-border-radius: 4px 0 0 4px;
  -webkit-border-radius: 4px 0 0 4px;
  -o-border-radius: 4px 0 0 4px;
  -ms-border-radius: 4px 0 0 4px;
  -khtml-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
  font-size: 140%;
  border: 1px solid #999;
  color: #555;
  -webkit-appearance: none;
  padding: 5px;
}

/* line 383, ../../app/stylesheets/partials/_page.scss */
.submit {
  background: #33cc33;
  /* fallback/image non-cover color */
  background-color: #33cc33;
  /* Firefox 3.6+ */
  background-image: -moz-linear-gradient(#29a329, #33cc33);
  /* Safari 4+, Chrome 1+ */
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#29a329), to(#33cc33));
  /* Safari 5.1+, Chrome 10+ */
  background-image: -webkit-linear-gradient(#29a329, #33cc33);
  /* Opera 11.10+ */
  background-image: -o-linear-gradient(#29a329, #33cc33);
  text-shadow: 1px 1px 1px #444;
  display: block;
  text-align: center;
  color: #fff;
  font-size: 200%;
  font-weight: bold;
  text-decoration: none;
  border: 1px solid #196619;
  -moz-border-radius: 0 4px 0 4px;
  -webkit-border-radius: 0 4px 0 4px;
  -o-border-radius: 0 4px 4px 0;
  -ms-border-radius: 0 4px 4px 0;
  -khtml-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
  font-size: 140%;
  width: 30%;
  height: 34px;
}
/* line 102, ../../app/stylesheets/partials/_page.scss */
.submit:hover {
  background: #70db70;
  /* fallback/image non-cover color */
  background-color: #70db70;
  /* Firefox 3.6+ */
  background-image: -moz-linear-gradient(#47d147, #70db70);
  /* Safari 4+, Chrome 1+ */
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#47d147), to(#70db70));
  /* Safari 5.1+, Chrome 10+ */
  background-image: -webkit-linear-gradient(#47d147, #70db70);
  /* Opera 11.10+ */
  background-image: -o-linear-gradient(#47d147, #70db70);
  text-decoration: none;
}
/* line 107, ../../app/stylesheets/partials/_page.scss */
.submit:active {
  background: #70db70;
  /* fallback/image non-cover color */
  background-color: #70db70;
  /* Firefox 3.6+ */
  background-image: -moz-linear-gradient(#47d147, #70db70);
  /* Safari 4+, Chrome 1+ */
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#47d147), to(#70db70));
  /* Safari 5.1+, Chrome 10+ */
  background-image: -webkit-linear-gradient(#47d147, #70db70);
  /* Opera 11.10+ */
  background-image: -o-linear-gradient(#47d147, #70db70);
  -moz-box-shadow: inset 0 0 8px 4px #248f24, 0 1px 0 0 #eeeeee;
  -webkit-box-shadow: inset 0 0 8px 4px #248f24, 0 1px 0 0 #eeeeee;
  box-shadow: inset 0 0 8px 4px #248f24, 0 1px 0 0 #eeeeee;
}

/* line 396, ../../app/stylesheets/partials/_page.scss */
.user {
  margin-bottom: 1em;
}

/* line 398, ../../app/stylesheets/partials/_page.scss */
.links {
  float: none;
  clear: both;
}

/* line 400, ../../app/stylesheets/partials/_page.scss */
.field {
  clear: both;
  overflow: auto;
  margin-bottom: 1em;
}
/* line 401, ../../app/stylesheets/partials/_page.scss */
.field input {
  float: left;
}

/* line 407, ../../app/stylesheets/partials/_page.scss */
.delete_item {
  text-decoration: none;
}
/* line 409, ../../app/stylesheets/partials/_page.scss */
.delete_item:hover {
  color: #f00;
}

/* line 412, ../../app/stylesheets/partials/_page.scss */
p {
  margin-bottom: .5em;
}

/* line 415, ../../app/stylesheets/partials/_page.scss */
#slidefield {
  display: none;
}

/* line 419, ../../app/stylesheets/partials/_page.scss */
.iPhoneCheckContainer {
  width: 90px;
}

/* line 420, ../../app/stylesheets/partials/_page.scss */
.iPhoneCheckHandle {
  width: 34px;
}

@media only screen and (min-width: 480px) {
  /* line 10, ../../app/stylesheets/partials/_media.scss */
  body, #header {
    width: 480px;
  }

  /* line 14, ../../app/stylesheets/partials/_media.scss */
  #listen_box {
    padding-right: 16px;
  }
}
/*/mediaquery*/
@media only screen and (min-width: 768px) {
  /* line 21, ../../app/stylesheets/partials/_media.scss */
  body, #header {
    width: 768px;
  }

  /* line 25, ../../app/stylesheets/partials/_media.scss */
  #container {
    margin-top: 34px;
  }

  /* line 26, ../../app/stylesheets/partials/_media.scss */
  #topNav {
    margin-top: 42px;
  }

  /* line 28, ../../app/stylesheets/partials/_media.scss */
  nav {
    margin-left: 7em;
    clear: none;
  }

  /* line 30, ../../app/stylesheets/partials/_media.scss */
  #listen_box {
    padding-right: 22px;
  }
}
/*/mediaquery*/
@media only screen and (min-width: 960px) {
  /* line 40, ../../app/stylesheets/partials/_media.scss */
  body, #header {
    width: 960px;
  }

  /* line 44, ../../app/stylesheets/partials/_media.scss */
  nav {
    margin-left: 11em;
  }

  /* line 46, ../../app/stylesheets/partials/_media.scss */
  #listen_box {
    padding-right: 26px;
  }
}
/*/mediaquery*/
@media print {
  /* line 10, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_media.scss */
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  /* line 12, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_media.scss */
  a, a:visited {
    color: #444 !important;
    text-decoration: underline;
  }

  /* line 13, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_media.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 14, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_media.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 15, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_media.scss */
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }

  /* line 16, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_media.scss */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 17, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_media.scss */
  thead {
    display: table-header-group;
  }

  /* line 18, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_media.scss */
  tr, img {
    page-break-inside: avoid;
  }

  /* line 19, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_media.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 21, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_media.scss */
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 22, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_media.scss */
  h2, h3 {
    page-break-after: avoid;
  }
}
