#slidefield
	#input_errors
		= render 'shared/error_messages', :object => f.object
	.field
		= f.text_field field, 
					   :id => "input_field", 
					   :autocorrect => "off",
					   :autocapitalize => "off"
		= f.submit "#{submit_text}", :class => "submit"