- if current_user.default_notification_service_id.nil?
	= render :partial => 'notification_services/empty'
		
- unless current_user.accounts.empty?
	= render :partial => 'accounts/accounts', :locals => { :accounts => @accounts }
	
- else
	= render :partial => 'accounts/empty'
	

= render 'accounts/nav'
	