.account
	.account_information
		- if contact.active
			.check_name= contact.email	
		- else
			.check_name_quiet= contact.email
		.right_box
			= activate_box_for contact
		.row
			= link_to '( Delete )', contact, :method => :delete, 
				:class => "delete_item"
