- unless @contacts.empty?
	.accounts
		= render @contacts
	= link_to 'Add a contact', new_contact_path
- else
	Please
	= link_to ' add a contact ', new_contact_path
	to receive notifications of their emails.