#input_form
	= form_for current_user.default_notification_service, :remote => true do |f|
		= render :partial => 'shared/slidefield', 
				 :locals => {:f => f, 
							 :field => :username,
							 :submit_text => 'Add'}
