#input_form
	= form_for NotificationService.new(:user_id => current_user.id,
                                       :type => "NotifoService"), :remote => true do |f|
		= f.hidden_field :user_id
		= f.hidden_field :type, :value => 'NotifoService'
		= render :partial => 'shared/slidefield', :locals => {:f => f, :submit_text => 'Add'}
