-# CSS: implied media="all"
= stylesheet_link_tag 'style', :media => 'all'
= stylesheet_link_tag 'iphone_style', :media => 'all'
= stylesheet_link_tag 'gplus_buttons', :media => 'all'

-# Append your own using content_for :stylesheets
= yield :stylesheets