.account
	.account_information
		.check_name
			= account.username				
		.right_box
			= activate_account_box_for account
		.row
			= link_to '- delete -', account, :method => :delete, 
				:class => "delete_item"
