.account
	.account_information
		.row
			%span.account_name= account.username				
		.row
			= activate_box_for account
			= link_to '( Delete )', account, :method => :delete, 
				:class => "delete_item"
